<ion-view view-title="Travel">
  <ion-content class="padding">
    <div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Départ" ng-model="result.fromCity" ng-autocomplete="resultFrom" options="options" ng-change="loadResults(result)">
	  </label>
	</div>
	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Arrivée"  ng-model="result.toCity" ng-autocomplete="resultTo" options="options" ng-change="loadResults(result)">
	  </label>
	</div>
	<div class="marginLeftSearch">
                <label class="item item-input">
                    <i class="inlineD icon ion-calendar placeholder-icon"></i>
                    <input ng-model="startDateString" class="inlineD allerret" ng-required="true" type="text" ng-click="openDatePicker()" placeholder="Start date">
                </label>
                <label class="item item-input">
                    <i class="inlineD icon ion-clock placeholder-icon"></i>
                    <input ng-model="startTimeString" class="inlineD allerret" ng-required="true" type="text" ng-click="openTimePicker()" placeholder="Hour">
                </label>
            </div>
	</div>
    <div class="card">
	    <div class="item item-divider">
	    	Paris > Nevers
	    </div>
    	<div class="item item-text-wrap">
		    <h3>Proposé par <strong>Fabrice Durand</strong></h3>
		    <p>Le <strong>16/06/2016</strong></p>
		</div>
    </div>
  </ion-content>
</ion-view>